body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

.examples button {
    background: #334155;
    margin: 5px;
}

.result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    background: #1e293b;
}

#riskMeter {
    width: 100%;
    height: 20px;
    background: #334155;
    border-radius: 10px;
    margin: 15px 0;
}

#riskBar {
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

